@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100% */
}
body{
    background-image: linear-gradient(to right,#85a3a7,#D9D9D9);
}
main{
   background-color: white; 
   border-radius: 10px;
   box-shadow: 5px 5px 15px #26170F;
   width: 600px;
   padding: 10px;
   margin: auto;
}

h1{
color:#024873 ;
text-align: center;
text-shadow: 1px 1px 2px #26170F;
}
h2{
    color:#26170F ;
}
p{
    text-align: justify;
}

